animation.csv
mystery.csv
biography.csv
name.basics.tsv
crime.csv
romance.csv
a_oscars_cleaned.csv
family.csv
scifi.csv
action.csv
fantasy.csv
sports.csv
adventure.csv
film_noir.csv
the_oscar_award.csv
all_films.csv
history.csv
thriller.csv
all_films_cleaned.csv
horror.csv
war.csv
a_cannes_cleaned.csv
